# Build folders
[Bb]in/
[Oo]bj/
**/bin/
**/obj/

# Visual Studio / VS Code
.vs/
.vscode/
.idea/
*.user
*.suo
*.sln.docstates
*.userosscache
*.sln.ids

# Database / SQLite
*.db
*.sqlite
*.mdb
*.ldf
*.mdf

# Logs / Tests
*.log
*.trx

# NuGet Packages
packages/
**/packages/
!nuget.config
*.nupkg

# Configuration / Secrets
# appsettings.json (Template base agora rastreado)
appsettings.Development.json
appsettings.*.user.json
usersecrets.json
.env

# Publish folders
publish/
[Pp]ublish/
**/publish/

# System files
.DS_Store
Thumbs.db
/BROS.Api/appsettings.Development.json
